[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-pagination = "*"
uvicorn = "0.23.2"
gunicorn = "21.2.0"
yt_dlp = "*"

[dev-packages]
pytest = "*"
httpx="*"
pytest-mock = "*"
